<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form action="{% url 'register' %}" method="post">{% csrf_token %}
        {% for field in register_form %}
            <p>
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small style="color:grey;">{{field.help_text}}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color:red;">{{error}}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>